@font-face {
  font-family: 'Pokemon';
  src: local('PocketMonk'),
    url(./fonts/PocketMonk/PocketMonk.ttf) format('truetype');
}

@font-face {
  font-family: 'Pokemon02';
  src: local('PokemonHollow'),
    url(./fonts/Pokemon\ Solid.ttf) format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: overlay;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
  font-family: Pokemon, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
